In [6]:
# To support both python 2 and python 3
from __future__ import division, print_function, unicode_literals
import os
import operator

# for package auto reload
%load_ext autoreload
%autoreload 2

# Common imports
import numpy as np
import os
import pandas as pd
import seaborn as sns
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import SGDClassifier,LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier

#
pd.set_option("display.max_rows", 999)

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.rcParams['axes.labelsize'] = 14
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
sns.set_theme(rc={'figure.figsize':(12,12)}, style="darkgrid")


# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Introduction: Crops Yield Project

### Analysis Ideas

### Techniques Summary

# Dataset Overview

### Summary

### Description

# Data Preprocessing

In [10]:
# Loading dataset

url = 'https://raw.githubusercontent.com/nicoboou/ml_eml/main/agriculture-crop-production/Production_Crops_E_Africa.csv?token=GHSAT0AAAAAABRXBUYTNUDPEVZTZBHGL3D6YR5RE5Q'
crops_africa = pd.read_csv(url, sep=',',encoding='latin-1')
crops_africa.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,4,Algeria,221,"Almonds, with shell",5312,Area harvested,ha,13300.0,F,13300.0,...,40403.0,NaN,49983.0,NaN,50100.0,NaN,43043.0,NaN,35380.0,NaN
1,4,Algeria,221,"Almonds, with shell",5419,Yield,hg/ha,4511.0,Fc,4511.0,...,18930.0,Fc,13223.0,Fc,12362.0,Fc,13292.0,Fc,20467.0,Fc
2,4,Algeria,221,"Almonds, with shell",5510,Production,tonnes,6000.0,NaN,6000.0,...,76482.0,NaN,66095.0,NaN,61934.0,NaN,57213.0,NaN,72412.0,NaN
3,4,Algeria,515,Apples,5312,Area harvested,ha,3400.0,F,3100.0,...,41011.0,NaN,46070.0,NaN,44620.0,NaN,39034.0,NaN,32989.0,NaN
4,4,Algeria,515,Apples,5419,Yield,hg/ha,45294.0,Fc,45161.0,...,110086.0,Fc,108716.0,Fc,110766.0,Fc,124970.0,Fc,169399.0,Fc
5,4,Algeria,515,Apples,5510,Production,tonnes,15400.0,NaN,14000.0,...,451472.0,NaN,500855.0,NaN,494239.0,NaN,487808.0,NaN,558830.0,NaN
6,4,Algeria,526,Apricots,5312,Area harvested,ha,4200.0,F,4600.0,...,38857.0,NaN,38239.0,NaN,44307.0,NaN,35500.0,NaN,30861.0,NaN
7,4,Algeria,526,Apricots,5419,Yield,hg/ha,30286.0,Fc,30000.0,...,75530.0,Fc,67149.0,Fc,57980.0,Fc,68237.0,Fc,67789.0,Fc
8,4,Algeria,526,Apricots,5510,Production,tonnes,12720.0,NaN,13800.0,...,293486.0,NaN,256771.0,NaN,256890.0,NaN,242243.0,NaN,209204.0,NaN
9,4,Algeria,366,Artichokes,5312,Area harvested,ha,5000.0,F,5000.0,...,4674.0,NaN,5174.0,NaN,5532.0,NaN,5784.0,NaN,5792.0,NaN

# Exploratory Data Analysis

# Machine Learning

## Supervised Learning

### Regression

### Classification

## Unsupervised Learning

### Clustering

## Time-series Analysis